<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ABPaperName</key>
		<string>8,5 x 11"</string>

		<key>ABUnits</key>
		<real>0</real>

		<key>ABPaperWidth</key>
		<real>612.0</real>
		<key>ABPaperHeight</key>
		<real>792.0</real>
	</dict>
	<dict>
		<key>ABPaperName</key>
		<string>Legal</string>

		<key>ABUnits</key>
		<real>0</real>

		<key>ABPaperWidth</key>
		<real>612.0</real>
		<key>ABPaperHeight</key>
		<real>1008.0</real>
	</dict>
	<dict>
		<key>ABPaperName</key>
		<string>A4</string>

		<key>ABUnits</key>
		<real>0</real>

		<key>ABPaperWidth</key>
		<real>594.0</real>
		<key>ABPaperHeight</key>
		<real>840.96</real>
	</dict>
	<dict>
		<key>ABPaperName</key>
		<string>B5</string>

		<key>ABUnits</key>
		<real>0</real>

		<key>ABPaperWidth</key>
		<real>498.24</real>
		<key>ABPaperHeight</key>
		<real>708.48</real>
	</dict>
	<dict>
		<key>ABPaperName</key>
		<string>Tabloid</string>

		<key>ABUnits</key>
		<real>0</real>

		<key>ABPaperWidth</key>
		<real>792.0</real>
		<key>ABPaperHeight</key>
		<real>1224.0</real>
	</dict>
    <dict>
		<key>ABPaperName</key>
		<string>Long Envelope</string>

		<key>ABUnits</key>
		<real>0</real>

		<key>ABPaperWidth</key>
		<real>612.0</real>
		<key>ABPaperHeight</key>
		<real>792.0</real>
	</dict>

</array>
</plist>
