<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>喻贵华</key>
	<array>
		<string>head_portrait09.png</string>
		<string>喻贵华</string>
		<string>男</string>
		<string>24</string>
		<string>904051755</string>
	</array>
	<key>吴勇</key>
	<array>
		<string>head_portrait01.png</string>
		<string>吴勇</string>
		<string>男</string>
		<string>25</string>
		<string>324124124</string>
	</array>
	<key>孙权</key>
	<array>
		<string>head_portrait02.png</string>
		<string>孙权</string>
		<string>500</string>
		<string>男</string>
		<string>67657567</string>
	</array>
	<key>赵虎</key>
	<array>
		<string>head_portrait03.png</string>
		<string>赵虎</string>
		<string>男</string>
		<string>19</string>
		<string>1221323</string>
	</array>
	<key>林浩</key>
	<array>
		<string>head_portrait04.png</string>
		<string>林浩</string>
		<string>男</string>
		<string>23</string>
		<string>234545566</string>
	</array>
	<key>马飞</key>
	<array>
		<string>head_portrait05.png</string>
		<string>马飞</string>
		<string>男</string>
		<string>35</string>
		<string>6755566</string>
	</array>
	<key>王威</key>
	<array>
		<string>head_portrait06.png</string>
		<string>王威</string>
		<string>女</string>
		<string>20</string>
		<string>34234234</string>
	</array>
	<key>李经晶</key>
	<array>
		<string>head_portrait07.png</string>
		<string>李经晶</string>
		<string>男</string>
		<string>22</string>
		<string>123123123</string>
	</array>
	<key>吴涛</key>
	<array>
		<string>head_portrait08.png</string>
		<string>吴涛</string>
		<string>女</string>
		<string>25</string>
		<string>3242423</string>
	</array>
</dict>
</plist>
