<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>lichenyu</key>
	<string>123456</string>
	<key>lijinjin</key>
	<string>123456</string>
	<key>linhao</key>
	<string>1234</string>
	<key>mafangjing</key>
	<string>123456</string>
	<key>meimei</key>
	<string>123456</string>
	<key>wanwei</key>
	<string>123456</string>
	<key>wutao</key>
	<string>123456</string>
	<key>yuguihua</key>
	<string>123456</string>
</dict>
</plist>
