<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ABPaperHeight</key>
		<real>792</real>
		<key>ABPaperName</key>
		<string>US Letter</string>
		<key>ABPaperWidth</key>
		<real>612</real>
		<key>ABUnits</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>ABPaperHeight</key>
		<real>1008</real>
		<key>ABPaperName</key>
		<string>Legal</string>
		<key>ABPaperWidth</key>
		<real>612</real>
		<key>ABUnits</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>ABPaperHeight</key>
		<real>840.96000000000004</real>
		<key>ABPaperName</key>
		<string>A4</string>
		<key>ABPaperWidth</key>
		<real>594</real>
		<key>ABUnits</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>ABPaperHeight</key>
		<real>708.48000000000002</real>
		<key>ABPaperName</key>
		<string>B5</string>
		<key>ABPaperWidth</key>
		<real>498.24000000000001</real>
		<key>ABUnits</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>ABPaperHeight</key>
		<real>1224</real>
		<key>ABPaperName</key>
		<string>Tabloid</string>
		<key>ABPaperWidth</key>
		<real>792</real>
		<key>ABUnits</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>ABPaperHeight</key>
		<real>792</real>
		<key>ABPaperName</key>
		<string>Μακρύς φάκελος</string>
		<key>ABPaperWidth</key>
		<real>612</real>
		<key>ABUnits</key>
		<real>0.0</real>
	</dict>
</array>
</plist>
